<div class="col-md-8 col-md-offset-2">
  <div class="about-me">
    <div class="about-header">
      <div class="about-image">
        <%= image_tag "cainian.jpg", size: "160x160", class: "img-circle center-block", alt: "cainian"  %>
      </div>
      <div class="about-name">
        <h3>小菜个人博客网站</h3> 
      </div>
    </div>
    
    <div class="about-body">
      <div class="about-title">
        <h1>关于我</h1> 
      </div>
      <div class="about-content">
        <p>
          一个自学的菜鸟程序员，做了一个很菜的博客网站，这个博客只有基本的功能，简单的用户注册及登录，写文章及评论回复。后续功能会在以后慢慢的完善。希望大家常来我的博客。
        </p>
        <p>
          本人叫蔡念, 出生于1989年，学历不是很高，但一直都自学web的知识，想在以后的学习更多的web知识，及更多的开发程序语言。
        </p>
        <h3>联系方式</h3>
        <ul>
          <li>QQ: 532846533</li>
          <li>Email: 532846533@qq.com</li>
          <li>WeChatID: Cry784718</li>
        </ul>
      </div>
    </div>
  </div>
</div>



