.comment{
  border-bottom: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  .comment-content{
    font-size: 16px;
    text-indent: 0px;	
  }
  .comment-time{
    color: #333;
    font-size: 14px;
  }
}
