<footer class="footer navbar-fixed-bottom message-footer" role="navigation">
  <p>Copyright@2018 Design by <%= link_to "菜菜", about_path %></p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>